*.o
.deps
/m4
/**/*.swp
/*.bak
/*.gcda
/*.gcno
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux
/config
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/gtk-doc.m4
/gtk-doc.make
/libtool
/so_locations
/stamp-h1
/tags
